@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
<ul class="nav navbar-nav navbar-right ml-auto">
    <li class="nav-item">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</li>
    @if (User.IsInRole("Admin"))
    {
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-warning dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("Index", "Team")">Teams</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Account")">Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "StoredLocation")">Stored Locations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "GpsReport")">All GPS Reports</a>
                </div>
            </div>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-info dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    API
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("Index", "ApiLog")">API Logs</a>
                </div>
            </div>
        </li>
    }
    @if (User.IsInRole("Manager"))
    {
        <li>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Management
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("Index", "TeamDashboard")">My Team</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Pairing")">Buddy Pairings</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "GpsReport")">GPS Reports</a>
                </div>
            </div>
        </li>
    }
    <li>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="@Url.Action("Index", "StoredLocation")">Locations</a>
            </div>
        </div>
    </li>
    <button class="btn btn-info fa fa-envelope ml-2" data-toggle="tooltip" title="Back" onclick="location.href = '@Url.Action("Index","Message")';return false;"></button>
    <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
