@model IEnumerable<FYP_WebApp.Models.Team>

@{
    ViewBag.Title = "Index";
}

<div class="card rounded shadow mb-3">
    <h5 class="card-header">Teams</h5>
    <div class="card-body">
        <div class="scroller-lg">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Team Manager
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>

                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name) 
                            @if (item.IsInactive == true)
                            {
                                <span class="badge badge-dark">Inactive</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(item.Manager.DisplayString,"Details","Account", new{id = item.Manager.Id},null)
                        </td>
                        <td>
                            <button class="btn btn-info" onclick="location.href = '@Url.Action("Details", "Team", new {id = item.Id})';return false;">
                                <i class="fa fa-eye"></i>
                                View
                            </button>
                        </td>
                    </tr>
                }

            </table>
        </div>
        <button class="btn btn-success" onclick="location.href = '@Url.Action("Create", "Team")';return false;">
            <i class="fa fa-plus-square"></i>
            Create
        </button>
    </div>
</div>

