@model FYP_WebApp.Models.ApiLogViewModel

@{
    ViewBag.Title = "Details";
}

<head>
    <script src="~/Scripts/highlight.pack.js"></script>
    <link href="~/Content/Highlight/github.css" rel="stylesheet" />
    <script src="~/Scripts/highlightInit.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>

<div class="card">
    <div class="card-header">
        API Log
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ApiLog.LogLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApiLog.LogLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApiLog.TimeStamp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApiLog.TimeStamp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApiLog.StatusCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApiLog.StatusCode)
                </dd>

            </dl>
        </div>
    </div>
</div>



<div id="accordion">
    <div class="card bg-light rounded">
        <div class="card-header bg-white" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Request
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <pre>
                   <code>
                        @Html.Raw(Model.ApiLog.RequestString)
                    </code>
                </pre>
            </div>
        </div>
    </div>
    <div class="card bg-light rounded">
        <div class="card-header bg-white" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Response
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body p-0">
                <pre>
                    <code>
                        @Html.Raw(Model.ApiLog.ResponseString)
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>

@if (Model.AdditionalFields != null)
{
    <div class="card bg-light rounded">
        <div class="card-header bg-white" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Additional Fields
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body p-0">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Data Key
                        </th>
                        <th>
                            Data Value
                        </th>
                    </tr>
                    
                    @foreach (var item in Model.AdditionalFields)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Key)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}

<div class="card rounded shadow mb-3">
    <h5 class="card-header">Actions</h5>
    <div class="card-body">
        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "ApiLog")';return false;">
            <i class="fa fa-times"></i>
            Close Log
        </button>
    </div>
</div>

<script>
    $("pre code").each(function () {
        var html = $(this).html();
        var pattern = html.match(/\s*\n[\t\s]*/);
        $(this).html(html.replace(new RegExp(pattern, "g"), '\n'));
    });
</script>
