@model PagedList.IPagedList<FYP_WebApp.Models.AccessLog>
@using PagedList.Mvc

@{
    ViewBag.Title = "Access Logs";
}

<div class="card rounded shadow mb-3">
    <h5 class="card-header">Access Logs</h5>
    <div class="card-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Timestamp", "Index", new { SortOrder = ViewBag.DateSortParameter })
                </th>
                <th>
                    Attempted User
                </th>
                <th>
                    Login Result
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttemptedUser)
                    </td>
                    <td>
                        @if (item.Success)
                        {
                            <span class="badge badge-success">Successful</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">Unsuccessful</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Details", "AccessLog", new {id = item.Id})';return false;">
                            <i class="fa fa-search"></i>
                            Inspect
                        </button>
                    </td>
                </tr>
            }

        </table>
        <br/>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
    </div>
</div>






