@model FYP_WebApp.Models.StoredLocation

@{
    ViewBag.Title = "Delete";
}


<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Important!</h4>
    <p>Deleting this record will remove any dependent records. It is highly recommended that you choose to inactivate the record rather than delete it.</p>
    <hr>
    <p class="mb-0">Are you sure you wish to delete the following record?</p>
    <ul>
        <li>
            <strong>@Html.DisplayNameFor(model => model.Label)</strong> :  @Html.DisplayFor(model => model.Label)
        </li>
        <li>
            <strong> @Html.DisplayNameFor(model => model.Latitude)</strong> :  @Html.DisplayFor(model => model.Latitude)
        </li>
        <li>
            <strong> @Html.DisplayNameFor(model => model.Longitude)</strong> :  @Html.DisplayFor(model => model.Longitude)
        </li>
        <li>
            <strong>
                @Html.DisplayNameFor(model => model.IsInactive) </strong> : @Html.DisplayFor(model => model.IsInactive)

        </li>
    </ul>
</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button class="btn btn-warning" onclick="location.href = '@Url.Action("Index","StoredLocation")';return false;">Cancel</button>
    </div>
    }
