@using System.Threading
@model FYP_WebApp.Models.StoredLocation

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Label</h2>
<hr/>
<br/>

<div>
    <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header">
            Location Details
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Label)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Label)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Longitude)
                </dd>
            </dl>
            <iframe src="@ViewBag.mapUrl" style="width: 100%; height: 500px">

            </iframe>
        </div>
    </div>
    <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header">
            Location Notes
        </div>
        <div class="card-body">
            <ol>
                @foreach (var item in Model.Notes)
                {
                    <li>
                        @Html.DisplayFor(modelItem => item.Content)
                        <span class="badge badge-info">
                            @Html.DisplayFor(modelItem => item.Sender.DisplayString)
                        </span>
                        <span class="badge badge-warning">
                            @Html.DisplayFor(modelItem => item.TimeCreated)
                        </span>
                        @if (User.IsInRole("Admin"))
                        {
                            <button class="btn btn-danger fa fa-times" data-toggle="tooltip" title="Back" onclick="location.href = '@Url.Action("Delete", "Note", new {@id = item.Id})';return false;"></button>
                        }
                    </li>
                }
            </ol>
            <button class="btn btn-primary" data-toggle="tooltip" title="Back" onclick="location.href='@Url.Action("Create","Note", new {@storedLocationId = Model.Id })';return false;">Add Note</button>
        </div>
    </div>

    @if (!User.IsInRole("Member") && Model.CheckIns != null)
    {
        <div class="card shadow mb-5 bg-white rounded">
            <div class="card-header">
                Location Check-Ins
            </div>
            <div class="card-body">
                <div class="scroller">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                User
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        @foreach (var item in Model.CheckIns)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.DisplayString)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td>
                                    <button class="btn btn-primary" onclick="location.href = '@Url.Action("Details", "GpsReport", new {id = item.Id})';return false;">
                                        <i class="fa fa-search"></i>
                                        View
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
   
    @if (User.IsInRole("Admin"))
    {
        <div class="card shadow mb-5 bg-white rounded">
            <div class="card-header">
                Record Information
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        Record Active?
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsInactive)
                    </dd>
                </dl>
            </div>
        </div>
    }
    <div class="card rounded shadow mb-3">
        <h5 class="card-header">Actions</h5>
        <div class="card-body">
            <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "StoredLocation")';return false;">
                <i class="fa fa-arrow-circle-left"></i>
                Back
            </button>
            @if (User.IsInRole("Admin"))
            {
                <button class="btn btn-warning" onclick="location.href = '@Url.Action("Edit", "StoredLocation", new {id = Model.Id})';return false;">
                    <i class="fa fa-edit"></i>
                    Edit
                </button>
            }
        </div>
    </div>

</div>
