@model FYP_WebApp.Models.Pairing

@{
    ViewBag.Title = "Delete";
}


<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Important!</h4>
    <p>Deleting this record will prevent this pairing from being used for check-ins.</p>
    <hr>
    <p class="mb-0">Are you sure you wish to delete the following record?</p>
    <ul>
        <li>
            <strong>@Html.DisplayNameFor(model => model.Start)</strong> :  @Html.DisplayFor(model => model.Start)
        </li>
        <li>
            <strong> @Html.DisplayNameFor(model => model.End)</strong> :  @Html.DisplayFor(model => model.End)
        </li>
        <li>
            <strong>@Html.DisplayNameFor(model => model.UserId) </strong> : @Html.DisplayFor(model => model.User.DisplayString)
        </li>
        <li>
            <strong> @Html.DisplayNameFor(model => model.BuddyUserId)</strong> :  @Html.DisplayFor(model => model.BuddyUser.DisplayString)
        </li>
    </ul>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <button class="btn btn-warning" onclick="location.href = '@Url.Action("Details","Pairing", new{id = Model.Id})';return false;">Cancel</button>
    </div>
}