@using System.Collections.Specialized
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    if (!string.IsNullOrEmpty(ViewBag.Motd))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">System Message</h4>
            <p>@ViewBag.Motd</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="card mb-3 shadow-lg">
        <h5 class="card-header">At a glance</h5>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="card rounded p-3">
                            <span><i class="fa fa-user mr-1"></i><strong>Your Profile</strong></span>
                            <hr />
                            <div class="row">
                                <div class="col 3">
                                    @if (ViewBag.User.Image != null)
                                    {
                                        <img class="shadow img-thumbnail" src="data:image;base64,@System.Convert.ToBase64String(ViewBag.User.Image)" width="100" height="100" />
                                    }
                                    else
                                    {
                                        <img class="img-thumbnail shadow" src="../../Content/Images/no-image.png" width="100" height="100" />
                                    }
                                </div>
                                <div class="col-9">
                                    <strong>Name:</strong> @ViewBag.User.DisplayString <br />
                                    <strong>Role:</strong> @ViewBag.UserRole <br/>
                                    @if (ViewBag.UserTeam != null)
                                    {
                                        <strong>Team:</strong> @ViewBag.UserTeam.Name <br/>
                                    }
                                    @Html.ActionLink("Edit Details", "Edit","Account", new {id = ViewBag.User.Id},null)
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card rounded p-3">
                            <span><i class="fa fa-envelope mr-1"></i><strong>Unread Messages</strong></span>
                            <hr/>
                            @if (ViewBag.unreadMessages != null)
                            {
                                if (ViewBag.unreadMessages > 0)
                                {
                                    <p>You have: @ViewBag.unreadMessages unread messages.</p>
                                    <button class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Message")';return false;">
                                        <i class="fa fa-envelope"></i>
                                        My Messages
                                    </button>
                                }
                                else
                                {
                                    <p>You're all caught up!</p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron shadow-lg p-3" style="background-image: url(../../Content/Images/map_3d.png)">
        <h1 style="color: snow">BuddyUp Work Tracking System</h1><span class="badge badge-info">Proof Of Concept</span>
        <p class="lead" style="color: snow">Remote Tracking Solution</p>
        <hr style="border-color: snow"/>
        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Login","Account", new { id = "loginLink" })';return false;">Login</button>
    </div>
}

