@model FYP_WebApp.Models.GpsReport

@{
    ViewBag.Title = "Details";
}
<button class="btn btn-primary mb-3" data-toggle="tooltip" title="Back" onclick="location.href = '@Url.Action("Index", "GpsReport")';return false;">
    <i class="fa fa-arrow-alt-circle-left"></i>
    Back
</button>

<div>
    <div class="card shadow mb-3 bg-white rounded">
        <div class="card-header">
            Map
        </div>
        <div class="card-body">
            <iframe src="@ViewBag.mapUrl" style="width: 100%; height: 500px"></iframe>
        </div>
    </div>

    <div class="card shadow mb-3 bg-white rounded">
        <div class="card-header">
            Report Details
        </div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    <strong>Reported By</strong>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.DisplayString)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Time)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Longitude)
                </dd>
                
                <dt>
                    Saved Location
                </dt>
                
                <dd>
                    @if (Model.LocationId != null)
                    {
                        @Html.ActionLink(Model.Location.Label, "Details", "StoredLocation", new {id = Model.LocationId}, null)
                    }
                </dd>
            </dl>
        </div>
    </div>
    
    <div class="card shadow mb-3 bg-white rounded">
        <div class="card-header">
            Actions
        </div>
        <div class="card-body">
            @if (Model.LocationId == null)
            {
                <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#locationModal">
                    <i class="fa fa-location-arrow"></i>
                    Create Location
                </button>
                <button class="btn btn-primary mb-3" onclick="location.href = '@Url.Action("Edit", "GpsReport", new {id = Model.Id})';return false;">
                    <i class="fa fa-link"></i>
                    Link an Existing Location
                </button>
            }
            else
            {
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Edit", "GpsReport", new {id = Model.Id})';return false;">
                    <i class="fa fa-edit"></i>
                    Correct Location
                </button>
            }
        </div>
    </div>
</div>

@using (Html.BeginForm("CreateWithContent", "StoredLocation", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="locationModalLabel">Add location from report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="textlabel" class="control-label col-md-12">Label</label>
                                        <div class="col-md-10">
                                            <input type="text" id="textlabel" name="label"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textlat" class="control-label col-md-12">Latitude</label>
                                        <div class="col-md-10">
                                            <input type="text" id="textlat" name="latitude" readonly="readonly" value="@Model.Latitude"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="textlong" class="control-label col-md-12">Longitude:</label>
                                        <div class="col-md-10">
                                            <input type="text" id="textlong" name="longitude" readonly="readonly" value="@Model.Longitude"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-6">
                                <iframe class="rounded-lg" src="@ViewBag.mapUrl" style="width: 100%; height: 100%"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
}