@model FYP_WebApp.Models.Note

@{
    ViewBag.Title = "Delete";
}

@Html.HiddenFor(model => model.Id)

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Important!</h4>
    <hr>
    <p class="mb-0">Are you sure you wish to delete the following record?</p>
    <ul>
        <li>
            <strong>@Html.DisplayNameFor(model => model.TimeCreated)</strong> :  @Html.DisplayFor(model => model.TimeCreated)
        </li>
        <li>
            <strong> Added By</strong> :  @Html.DisplayFor(model => model.Sender.DisplayString)
        </li>
        <li>
            <strong> @Html.DisplayNameFor(model => model.Content)</strong> :  @Html.DisplayFor(model => model.Content)
        </li>
    </ul>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button class="btn btn-warning" onclick="location.href = '@Url.Action("Details","StoredLocation", new{id = Model.StoredLocationId})';return false;">Cancel</button>
    </div>
}
