@model IEnumerable<FYP_WebApp.Models.ConfigurationRecord>

@{
    ViewBag.Title = "Configuration Records";
}

<h2>Configuration Records</h2>
<hr/>

<p>
    <span class="fa fa-info-circle" style="color:dodgerblue; margin-left:5px; margin-right: 5px; margin-top: 5px;"></span>
    Configuration records hold master fields for the entire system. Only the latest configuration record in a system is used.
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocationAccuracy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageOfTheDayText)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreLocationAccuracy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageOfTheDayText)
            </td>
            <td>
                <button class="btn btn-primary" onclick="location.href = '@Url.Action("Details", "ConfigurationRecord", new {id = item.Id})';return false;">
                    <i class="fa fa-info-circle"></i>
                    View
                </button>
            </td>
        </tr>
    }
</table>
<button class="btn btn-success" onclick="location.href = '@Url.Action("Create", "ConfigurationRecord", new {})';return false;">
    <i class="fa fa-plus-square"></i>
    Create
</button>